#container{
    display:flex;
    flex-direction: column;
    background-color: #DCF0F2;
    background-size: 100% 100%;
    color: #0F2624;
}


header{
    text-align: center;
    position: fixed;
    max-width: 100%;
    top: 0;
    background-color: #A3CFD4;
    font-family: "Permanent Marker", sans-serif;
}

header p{
  font-size: 1.2em;

}

header h1{
    color: #F28705;
    font-style: normal;
    font-variant: normal;
}

nav {
    background-color: #49736F;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: 110px;

}


nav a {
    float: left;
    color: #DCF0F2;
    text-align: center;
    padding: 10px 10px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Permanent Marker", sans-serif;
}
nav a:hover {
    background-color: #d19767;
    color: #0F2624;
}

nav ul{
    list-style-type: none;
}

#classes table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classes td, #classes th {
  border: 1px solid #ddd;
  padding: 8px;
}
#classes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #49736F;
  color: white;
}


h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.date{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

table{
  margin-left: auto;
  margin-right: auto;
}



#newsletter h2{
    text-align: left;
    font-style: italic;
}
#newsletter {
    margin: auto;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
    background-color: lightgray;
    border-bottom: 10px solid #DCF0F2;
}

#newsletter ul{
    list-style-type: none;
}


a {
    color: #d19767;
}
main{
    margin-top: 200px;
}

p {
  font-size: 1.1em;
}

footer {
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid #000;
}
